# ignore cache files
/eurovision/eurovision/__pycache__/

# Ignore database file
*.sqlite3

# Ignore .env.dev file
.env.dev

# Ignore .env.prod file
.env.prod

# Ignore .env files
.env

# Ignore migration files

/eurovision/eurovision/migrations/